@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.box_opciones_menu{
    /*background-color: #ff0000;*/
    height: 100%;
    display: grid;
    justify-content: center;
    row-gap: 60px;
    column-gap: 60px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

.pos_menu_btn_asignacion{
    grid-row: 1;
}

.pos_menu_btn_docente{
    grid-column: 2;
}

.pos_menu_btn_curso{
    grid-row: 2;
}

.pos_menu_btn_horario{
    grid-column: 2;
    grid-row: 2;
}