@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.style_btn_iniciosesion {
    background-color: #DFAC0F;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 80%;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; 
}