@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.style_btn_modulos {
    width: 280px;
    height: 160px;
    background-color: #FFFFFF; /* Blanco */
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega una transición suave */
}

/* Estilo para la imagen dentro del botón */
.style_img_modulos {
    width: 100%;
    height: 50px;
}

.style_font_modulos {
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 20px;
    color: black;
}

.style_btn_modulos:hover {
    transform: scale(1.05); /* Aplica un leve zoom al pasar el cursor */
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6); /* Aumenta la sombra para el efecto de profundidad */
}